.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh; /*para que ocupe a largura toda do corpo*/
    margin: 0 auto; 
    
    display: flex; /* PADRÃO: itens um do lado do outro*/
    align-items: center; /* alinhar os itens VERTICALMENTE AO CENTRO */
    justify-content: space-between; /* alinhar os itens HORIZONTALMENTE AO CENTRO */
}

.logon-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form {
    margin-top: 100px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}
